.row-header {
    margin: 0px auto;
    padding: 0px auto;
}
.row-content {
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px ridge;
    min-height: 0px;
    /* border-: 1px solid black; */
}

.footer {
    /* background-color: skyblue; */
    margin: 20px auto;
    padding: 20px 0px 0px 0px;
    /* position: relative; */
    /* width: 100%; */
    border-top: 1px solid;
}
.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: skyblue;
    color: #0f0f0f;
    border-bottom: 1px solid;
}
.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
fieldset {
    /* background: #0077be; */
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid;
  }
  #pix{
      border: 1px solid black;
  }
  body{
    /* background: skyblue; */
  }
  .parent-container {
    display: flex;
 }
 /* #pix{
     padding-bottom: 0.625em;
 } */
